h1 {
    text-align: center;
}

section {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#result {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    max-width: 400px;
}

#result p {
    display: flex;
    gap: 1em;
}

#result p i:hover {
    cursor: pointer;
    color: #26a69a
}

#result p span {
    font-family: monospace;
}

.form-body {
    display: flex;
    gap: 1em;
}

.form-footer {
    margin-top: 1em;
    text-align: center;
}